<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社工库查询</title>
    <link href="/public/css/frame.css" type="text/css" rel="stylesheet">
    <link href="/public/img/icon.png" rel="icon">
    <script src="/public/js/frame.js" type="text/javascript"></script>
</head>
<body>
    <div id="left">
        <div class="top">
            社工库查询
        </div>
        <div>
            <ul class="myul">
                <li id="myul" onmouseenter="ulMouseOver('myul')" onmouseout="ulMouseOut('myul')" onclick="ulMouseClick('myul')">
                    <img src="/public/img/dbs.png">
                    数据库目录</li>
                <ul class="myul2">
                    <li id="li1" class="li" onmouseenter="liMouseOver('li1')" onmouseout="liMouseOut('li1')">
                        <img src="/public/img/db.png">
                        QQ数据库</li>
                    <li id="li2" class="li" onmouseenter="liMouseOver('li2')" onmouseout="liMouseOut('li2')">
                        <img src="/public/img/db.png">
                        其他数据库1</li>
                    <li id="li3" class="li" onmouseenter="liMouseOver('li3')" onmouseout="liMouseOut('li3')">
                        <img src="/public/img/db.png">
                        其他数据库2</li>
                    <li id="li4" class="li" onmouseenter="liMouseOver('li4')" onmouseout="liMouseOut('li4')">
                        <img src="/public/img/db.png">
                        其他数据库3</li>
                    <li id="li5" class="li" onmouseenter="liMouseOver('li5')" onmouseout="liMouseOut('li5')">
                        <img src="/public/img/db.png">
                        其他数据库4</li>
                </ul>
            </ul>
        </div>
    </div>
    <div id="right">
        <div class="right_top">

        </div>
        <div class="main">
            <iframe src="/result" class="iframe"></iframe>
        </div>
    </div>
</body>
</html>