<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>我的社会成果</title>
  <link href="/public/css/social.css" type="text/css" rel="stylesheet">
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="main">
      <div class="textcenter">学生社会成果</div>
      <table title="学生社会成果"  class="table table-striped table-hover table-bordered">
        <tr>
          <th style="width: 20%">类别</th>
          <th style="width: 40%">具体事项</th>
          <th style="width: 40%">项目时间</th>
        </tr>
        <tr class="trl1">
          <td class="td1">学生社团</td>
          <td colspan="2" style="padding: 0">
            <table class="inlineTabel">
              <tr>
                <td>山东大学自行车协会</td>
                <td>2019-2020</td>
              </tr>
              <tr>
                <td>山东大学动漫协会</td>
                <td>2019-2020</td>
              </tr>
              <tr>
                <td>山东大学羽毛球协会</td>
                <td>2019-2020</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="trl1">
          <td  class="td1">学生工作</td>
          <td colspan="2" style="padding: 0">
            <table class="inlineTabel">
              <tr>
                <td>软件学院社会实践部干事</td>
                <td>2019-2020</td>
              </tr>
              <tr>
                <td>软件学院学生在线</td>
                <td>2019-2020</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="trl1">
          <td class="td1">志愿者工作</td>
          <td colspan="2" style="padding: 0">
            <table class="inlineTabel">
              <tr>
                <td>献血车志愿者</td>
                <td>2019.10.14</td>
              </tr>
              <tr>
                <td>鲁能志愿</td>
                <td>2019.12.24</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="trl1">
          <td class="td1">社会实践</td>
          <td colspan="2" style="padding: 0">
            <table class="inlineTabel">
              <tr>
                <td>母校回访</td>
                <td>2020.1</td>
              </tr>
              <tr>
                <td>互联网加创业创新大赛</td>
                <td>2020.4</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
  </div>
</body>
</html>