body{
	margin: 0;
	font-family: "Adobe 黑体 Std R","Arial" ;
}

#main{
	margin: 0;
	width: 1282px;
	height:670px;
	position: relative;
	background: url("../img/geren .png") no-repeat;
	/*background: black;*/
	background-size: 100%;
}

#a-left{
	width: 35%;
	height: 600px;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 15px;
	float: left;
	background: rgba(230,230,230,0.4);
}

#a-right{
	width: 55%;
	height: 630px;
	margin-top: 40px;
	margin-left: 15px;
	margin-right: 40px;
	float: left;
}

table tbody{
	display: block;
	height: 550px;
	width: 100%;
	overflow-y: scroll;
}

tbody tr{
	display: table;
	width: 100%;
	table-layout: fixed;
}

thead tr{
	display: table;
	width: 100%;
	table-layout: fixed;
}

.th{
	width: 50%;
	text-align: center;
}

.innerbox{
	overflow-y: auto;
	height: 548px;
	padding: 10px;
}
.innerbox::-webkit-scrollbar {/*滚动条整体样式*/
	width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 4px;
	scrollbar-arrow-color:red;

}
.innerbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2);
	scrollbar-arrow-color:red;
}
.innerbox::-webkit-scrollbar-track {/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 0;
	background: rgba(0,0,0,0.1);
}